@( accForm: Form[Account], compId: Long )

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Dodaj Lokalnego Administratora</h1>
    
    @helper.form(routes.Users.saveLocalAdmin(compId)) {
        
        <fieldset>
        
            @inputText(accForm("name"), '_label -> "Nazwa użytkownika")
            @inputText(accForm("email"), '_label -> "Email")
            @inputPassword(
                accForm("password.main"), 
                '_label -> "Hasło",
                '_help -> "Hasło musi mieć conajmniej 6 liter. "
            )
            
            @inputPassword(
                accForm("password.confirm"), 
                '_label -> "Powtórz Hasło",
                '_help -> "Powtórz hasło raz jeszcze. ",
                '_error -> accForm.error("password")
            )
            @inputText(accForm("position"), '_label -> "Stanowisko")

          <div class="input">
    <input type="hidden" id="compID" name="compID" value="@compId" >

    <input type="hidden" id="permission" name="permission" value="@LocalAdministrator" >
            </div>

           
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Dodaj" class="btn primary"> albo 
            <a href="@routes.ResolveUser.index" class="btn">Anuluj</a> 
        </div>
        
    }
    
}