@(currentPage: Page[(Account, Company)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Users.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}


@main {
    
    <h1>@Messages("users.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Users.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Szukaj po nazwie...">
            <input type="submit" id="searchsubmit" value="Szukaj" class="btn primary">
        }

        <a class="btn success" id="add" href="@routes.Companies.create()">Dodaj Firmę</a>
        <a class="btn success" id="add1" href="@routes.Users.create()">Dodaj użytkownika</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { users =>
        
        <table class="users zebra-striped">
            <thead>
                <tr>
                    @header(2, "Nazwa")
                    @header(3, "Adres e-mail")
                    @header(4, "Stanowisko")
                    @header(5, "Firma")
                    @header(6, "Miejscowość")
                    @header(7, "Telefon")
                </tr>
            </thead>
            <tbody>
                @users.map { 
                    case (account, company) => {
                        <tr>
                            <td><a href="@routes.Users.edit(account.id.get)">@account.name</a></td>
                            <td>
                                @account.email
                            </td>
                            <td>
                                @account.position
                            </td>
                            <td>
                                @company.name
                            </td>
                             <td>
                                @company.city
                            </td>
                             <td>
                                @company.phone
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Poprzednia</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Poprzednia</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + users.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Następna &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Następna &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nie ma użytkownika</em>
        </div>
        
    }

        
}
